<?xml version="1.0"?>
<robot>
        <material name="Blue">
            <color rgba="0.0 0.0 1.0 1.0"/>
        </material>

        <material name="Grey">
            <color rgba="0.25 0.25 0.25 1.0"/>
        </material>

        <material name="Black">
            <color rgba="1 1 1 1.0"/>
        </material>

  <material name="orange">
    <color rgba="${255/255} ${108/255} ${10/255} 1.0"/>
  </material>

  <material name="brown">
    <color rgba="${222/255} ${207/255} ${195/255} 1.0"/>
  </material>

  <material name="red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>

  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

</robot>
