<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find terabot_control)/config/terabot_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/terabot_arm" args="joint_state_controller terabot_arm_trajectory_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node ns="/terabot_arm" name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="true" output="screen">
<!--     remap from="/joint_states" to="/terabot_arm/joint_states" / -->
  </node>

</launch>

